## Lab Comparing_regression_models

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
customers = pd.read_csv('files_for_lab/customer_value_analysis.csv')
customers

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize


Rename the columns so they follow the PE8 (snake case: lowecase_with_underscores)

In [3]:
customers.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer                       9134 non-null   object
 1   state                          9134 non-null   object
 2   customer_lifetime_value        9134 non-null   float64
 3   response                       9134 non-null   object
 4   coverage                       9134 non-null   object
 5   education                      9134 non-null   object
 6   effective_to_date              9134 non-null   object
 7   employmentstatus               9134 non-null   object
 8   gender                         9134 non-null   object
 9   income                         9134 non-null   int64
 10  location_code                  9134 non-null   object
 11  marital_status                 9134 non-null   object
 12  monthly_premium_auto           9134 non-null   int64
 13  months_since_last_claim        9134 non-null   int64
 14  months_since_policy_inception  9134 non-null   int64
 15  number_of_open_complaints      9134 non-null   int64
 16  number_of_policies             9134 non-null   int64
 17  policy_type                    9134 non-null   object
 18  policy                         9134 non-null   object
 19  renew_offer_type               9134 non-null   object
 20  sales_channel                  9134 non-null   object
 21  total_claim_amount             9134 non-null   float64
 22  vehicle_class                  9134 non-null   object
 23  vehicle_size                   9134 non-null   object
dtypes: float64(2), int64(6), object(16)
memory usage: 1.7+ MB

1. Define X and y

In [4]:
X = customers.drop(['total_claim_amount'], axis =1)
y = customers['total_claim_amount']

2. Import sklearn train_test_split and separate the data. Set test_size=0.30 and random_state=31

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=31)

3. Separate X_train and X_test into numerical and categorical (X_train_cat , X_train_num , X_test_cat , X_test_num)

In [6]:
X_train_cat = X_train.select_dtypes(object)
X_train_num = X_train.select_dtypes(np.number)
X_test_cat =  X_test.select_dtypes(object)
X_test_num = X_test.select_dtypes(np.number)

4. Encode the categorical variables X_train_cat and X_test_cat using the OneHotEncoder setup in the previous lab. Remember to use .toarray() after .transform() to endup with a numpy array. Next, cast the resulting numpy arrays into pandas DataFrames. Make sure that the column names of the new dataframes are correctly setup using encoder.get_feature_names_out() and the same indexes of X_train_cat and X_test_cat

In [7]:
X_train.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
8444,DZ85842,California,8105.814830,No,Basic,High School or Below,2/27/11,Retired,M,17920,...,14,53,0,2,Personal Auto,Personal L1,Offer1,Branch,Four-Door Car,Medsize
2891,UV86903,California,4462.997006,Yes,Basic,Bachelor,1/30/11,Unemployed,F,0,...,35,52,3,5,Personal Auto,Personal L3,Offer1,Web,Two-Door Car,Medsize
5464,NL59273,Oregon,5627.297887,No,Basic,Doctor,1/21/11,Employed,F,61486,...,2,65,0,3,Personal Auto,Personal L3,Offer2,Call Center,Two-Door Car,Medsize
7432,FG43850,Oregon,7472.672033,No,Extended,High School or Below,1/14/11,Employed,M,44385,...,6,31,0,7,Corporate Auto,Corporate L3,Offer4,Call Center,Four-Door Car,Small
3919,XV30885,California,4595.524548,No,Basic,College,1/25/11,Employed,M,95550,...,15,75,1,1,Personal Auto,Personal L3,Offer1,Agent,SUV,Medsize

In [50]:
y_train.head()

8444    424.375364
2891    350.400000
5464    334.133510
7432    465.600000
3919    381.570261
Name: total_claim_amount, dtype: float64

In [8]:
X_cat = pd.concat([X_train_cat, X_test_cat], axis=0)
X_cat.head()

,customer,state,response,coverage,education,effective_to_date,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
8444,DZ85842,California,No,Basic,High School or Below,2/27/11,Retired,M,Suburban,Married,Personal Auto,Personal L1,Offer1,Branch,Four-Door Car,Medsize
2891,UV86903,California,Yes,Basic,Bachelor,1/30/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer1,Web,Two-Door Car,Medsize
5464,NL59273,Oregon,No,Basic,Doctor,1/21/11,Employed,F,Urban,Married,Personal Auto,Personal L3,Offer2,Call Center,Two-Door Car,Medsize
7432,FG43850,Oregon,No,Extended,High School or Below,1/14/11,Employed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Four-Door Car,Small
3919,XV30885,California,No,Basic,College,1/25/11,Employed,M,Urban,Divorced,Personal Auto,Personal L3,Offer1,Agent,SUV,Medsize

In [9]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Concatenate X_train_cat and X_test_cat
X_cat = pd.concat([X_train_cat, X_test_cat], axis=0)

levels = [list(X_cat[col].unique()) for col in X_cat.columns] # [list_of_unique_values_of_col1, list_of_unique_values_of_col2]

# Perform one hot encoding
encoder = OneHotEncoder(drop='first', categories=levels)
encoder.fit(X_train_cat)
X_train_cat_encoded_np = encoder.transform(X_train_cat).toarray()
X_test_cat_encoded_np  = encoder.transform(X_test_cat).toarray()

# Convert the numpy array to a DataFrame
X_train_cat_encoded_df = pd.DataFrame(X_train_cat_encoded_np, columns=encoder.get_feature_names_out(), index=X_train_cat.index)
X_test_cat_encoded_df = pd.DataFrame(X_test_cat_encoded_np, columns=encoder.get_feature_names_out(), index=X_test_cat.index)

# Split X_encoded into X_train_encoded and X_test_encoded

display(X_test_cat_encoded_df.head())
display(X_train_cat_encoded_df.head())

,customer_UV86903,customer_NL59273,customer_FG43850,customer_XV30885,customer_CH85444,customer_HR64765,customer_KN20603,customer_JS19054,customer_CN29830,customer_IN57582,...,sales_channel_Web,sales_channel_Call Center,sales_channel_Agent,vehicle_class_Two-Door Car,vehicle_class_SUV,vehicle_class_Luxury Car,vehicle_class_Luxury SUV,vehicle_class_Sports Car,vehicle_size_Small,vehicle_size_Large
8760,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4901,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
5118,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1930,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2474,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

,customer_UV86903,customer_NL59273,customer_FG43850,customer_XV30885,customer_CH85444,customer_HR64765,customer_KN20603,customer_JS19054,customer_CN29830,customer_IN57582,...,sales_channel_Web,sales_channel_Call Center,sales_channel_Agent,vehicle_class_Two-Door Car,vehicle_class_SUV,vehicle_class_Luxury Car,vehicle_class_Luxury SUV,vehicle_class_Sports Car,vehicle_size_Small,vehicle_size_Large
8444,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2891,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
5464,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
7432,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3919,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

5. Use X_train_num to fit a power transformer. Transform BOTH X_train_num and X_test_num. Next, cast the resulting numpy arrays as pandas dataframes. Make sure to set the correct columns names and to use the same indexes of X_train_num and X_test_num. Name the final resulting dataframes as: X_train_num_transformed_df and X_test_num_transformed_df

In [10]:
from sklearn.preprocessing import PowerTransformer

pt = PowerTransformer()
pt.fit(X_train_num)

X_train_num_transformed = pt.transform(X_train_num)
X_test_num_transformed = pt.transform(X_test_num)

X_train_num_transformed_df = pd.DataFrame(X_train_num_transformed, columns=X_train_num.columns, index=X_train_num.index)
X_test_num_transformed_df = pd.DataFrame(X_test_num_transformed, columns=X_test_num.columns, index=X_test_num.index)

display(X_train_num_transformed_df.head())
display(X_test_num_transformed_df.head())

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
8444,0.499021,0.021464,-0.633251,0.048267,0.269416,-0.513111,-0.064941
2891,-0.467968,-1.649407,-0.566921,1.653602,0.236349,2.009990,1.132407
5464,-0.067597,0.754866,-0.772902,-1.476582,0.653360,-0.513111,0.514553
7432,0.379093,0.535860,0.542226,-0.840605,-0.509404,-0.513111,1.462547
3919,-0.415574,1.084631,1.038549,0.142059,0.957827,1.898546,-1.149461

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies
8760,-0.182695,1.080187,-1.168613,-0.979381,-0.321341,-0.513111,0.514553
4901,-0.627800,0.268482,0.751069,1.111327,-0.284648,-0.513111,-1.149461
5118,0.837732,0.817410,1.309145,-0.979381,0.590890,1.898546,1.318858
1930,1.585593,-1.649407,-0.922663,0.575934,0.684386,1.898546,-0.064941
2474,-1.420362,-1.649407,-0.158629,0.142059,1.192998,-0.513111,-1.149461

6. Concat X_train_num_transformed_df and X_train_cat_encoded_df into X_train_new and X_test_num_transformed_df and X_test_cat_encoded_df into X_test_new

In [11]:
X_train_new = pd.concat([X_train_num_transformed_df,X_train_cat_encoded_df], axis=1)
X_train_new.head()

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,customer_UV86903,customer_NL59273,customer_FG43850,...,sales_channel_Web,sales_channel_Call Center,sales_channel_Agent,vehicle_class_Two-Door Car,vehicle_class_SUV,vehicle_class_Luxury Car,vehicle_class_Luxury SUV,vehicle_class_Sports Car,vehicle_size_Small,vehicle_size_Large
8444,0.499021,0.021464,-0.633251,0.048267,0.269416,-0.513111,-0.064941,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2891,-0.467968,-1.649407,-0.566921,1.653602,0.236349,2.009990,1.132407,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
5464,-0.067597,0.754866,-0.772902,-1.476582,0.653360,-0.513111,0.514553,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
7432,0.379093,0.535860,0.542226,-0.840605,-0.509404,-0.513111,1.462547,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3919,-0.415574,1.084631,1.038549,0.142059,0.957827,1.898546,-1.149461,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [12]:
X_test_new = pd.concat([X_test_num_transformed_df, X_test_cat_encoded_df], axis = 1)
X_test_new

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,customer_UV86903,customer_NL59273,customer_FG43850,...,sales_channel_Web,sales_channel_Call Center,sales_channel_Agent,vehicle_class_Two-Door Car,vehicle_class_SUV,vehicle_class_Luxury Car,vehicle_class_Luxury SUV,vehicle_class_Sports Car,vehicle_size_Small,vehicle_size_Large
8760,-0.182695,1.080187,-1.168613,-0.979381,-0.321341,-0.513111,0.514553,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4901,-0.627800,0.268482,0.751069,1.111327,-0.284648,-0.513111,-1.149461,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
5118,0.837732,0.817410,1.309145,-0.979381,0.590890,1.898546,1.318858,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1930,1.585593,-1.649407,-0.922663,0.575934,0.684386,1.898546,-0.064941,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2474,-1.420362,-1.649407,-0.158629,0.142059,1.192998,-0.513111,-1.149461,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4569,-1.414699,0.523555,-0.772902,1.252815,0.496102,-0.513111,-1.149461,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3814,-1.671666,0.759395,-1.443940,-0.251537,0.559442,-0.513111,-1.149461,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6762,-0.084516,0.999602,1.424601,-1.129035,1.617050,1.898546,-1.149461,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1969,-0.592833,0.700972,0.751069,1.252815,1.163972,-0.513111,-1.149461,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
546,0.496699,0.624495,0.694983,-1.292911,0.033931,-0.513111,0.514553,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

7. Fit a MinMax scaler using X_train_new and transform X_train_new and X_test_new. Create new pandas dataframes from the resulting numpy arrays. Remember to set the correct columns names and indexes. Name the resulting dataframes as: X_train_new_scaled_df and X_test_new_scaled_df

In [13]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(X_train_new)

X_train_new_scaled = scaler.transform(X_train_new)
X_test_new_scaled = scaler.transform(X_test_new)

X_train_new_scaled_df =pd.DataFrame(X_train_new_scaled, columns=X_train_new.columns, index=X_train_new.index)
X_test_new_scaled_df = pd.DataFrame(X_test_new_scaled, columns=X_test_new.columns, index=X_test_new.index)

In [14]:
X_train_new_scaled_df.head()

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,customer_UV86903,customer_NL59273,customer_FG43850,...,sales_channel_Web,sales_channel_Call Center,sales_channel_Agent,vehicle_class_Two-Door Car,vehicle_class_SUV,vehicle_class_Luxury Car,vehicle_class_Luxury SUV,vehicle_class_Sports Car,vehicle_size_Small,vehicle_size_Large
8444,0.546689,0.603173,0.237950,0.556064,0.632631,0.000000,0.384589,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2891,0.355690,0.000000,0.255297,1.000000,0.623798,0.998217,0.809188,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
5464,0.434771,0.867927,0.201428,0.134385,0.735197,0.000000,0.590087,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
7432,0.523000,0.788867,0.545367,0.310257,0.424579,0.000000,0.926261,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3919,0.366039,0.986970,0.675168,0.582001,0.816531,0.954127,0.000000,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [15]:
X_test_new_scaled_df.head()

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,customer_UV86903,customer_NL59273,customer_FG43850,...,sales_channel_Web,sales_channel_Call Center,sales_channel_Agent,vehicle_class_Two-Door Car,vehicle_class_SUV,vehicle_class_Luxury Car,vehicle_class_Luxury SUV,vehicle_class_Sports Car,vehicle_size_Small,vehicle_size_Large
8760,0.412036,0.985366,0.097939,0.271880,0.474818,0.000000,0.590087,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4901,0.324120,0.692345,0.599984,0.850040,0.484620,0.000000,0.000000,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
5118,0.613590,0.890505,0.745935,0.271880,0.718509,0.954127,0.875307,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1930,0.761307,0.000000,0.162261,0.701984,0.743485,0.954127,0.384589,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2474,0.167574,0.000000,0.362075,0.582001,0.879354,0.000000,0.000000,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

8. Train a simple linear regression model using X_train_new_scaled_df, and get the predictions for the train and test sets

In [16]:
X_train_new_scaled_df.index == y_train.index

array([ True,  True,  True, ...,  True,  True,  True])

In [17]:
from sklearn.linear_model import LinearRegression

# Train the model
model = LinearRegression()
model.fit(X_train_new_scaled_df, y_train)

# Get predictions for train and test sets
y_train_pred = model.predict(X_train_new_scaled_df)
y_test_pred = model.predict(X_test_new_scaled_df)

In [18]:
y_test_pred

array([329.95865333, 592.43661694, 259.49363431, ..., 551.87322488,
       560.17824622, 394.00992782])

In [19]:
y_train_pred

array([424.375364, 350.4     , 334.13351 , ..., 547.2     , 297.6     ,
       316.8     ])

9. Create a function that given a model prediction and real values returns a pandas dataframe with the following table:

Error_metric....	Value 

MAE....          value

MSE....          value

RMSE....	        value

MAPE....	        value

R2....           value

In [62]:

from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from math import sqrt

def evaluate_model(y_true, y_pred):
    mae = mean_absolute_error(y_true, y_pred)
    mse = mean_squared_error(y_true, y_pred)
    rmse = sqrt(mse)
    mape = np.mean(np.abs((y_true - y_pred) / y_true)) * 100
    r2 = r2_score(y_true, y_pred)
    
    metrics = {'Error Metric': ['MAE', 'MSE', 'RMSE', 'MAPE', 'R2'],
               'Value': [mae, mse, rmse, mape, r2]}
    
    return pd.DataFrame(metrics)

In [52]:
df = evaluate_model(y_train, y_train_pred)
print(df)

  Error Metric         Value
0          MAE  7.837792e-13
1          MSE  1.143858e-24
2         RMSE  1.069513e-12
3         MAPE  6.304959e-13
4           R2  1.000000e+00

10. Evaluate the linear model predictions using the previous function on the TRAIN and TEST sets

In [61]:
from sklearn.linear_model import LinearRegression

#Train the model on the training set
model = LinearRegression()
model.fit(X_train_num, y_train)

#Make predictions on the train and test sets
y_train_pred = model.predict(X_train_num)
y_test_pred = model.predict(X_test_num)

# Evaluate the model on the train set
train_results = evaluate_model(y_train, y_train_pred)
print('Train Set Results:')
print(train_results)

#Evaluta the model on the test set

test_results = evaluate_model(y_test, y_test_pred)
print("\nTest Set Results:")
print(test_results)

Train Set Results:
  Error Metric         Value
0          MAE    144.722196
1          MSE  40846.583020
2         RMSE    202.105376
3         MAPE    200.762999
4           R2      0.509123

Test Set Results:
  Error Metric         Value
0          MAE    143.843630
1          MSE  40122.087296
2         RMSE    200.304986
3         MAPE    258.585861
4           R2      0.539256

11. Now define a function that takes as an input: list of models, X_train and y_train to train several model (with default values) so we can train a lot of them without repeating code. The function must return the list of trained models.

In [76]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor 
from sklearn.ensemble import RandomForestRegressor

def train_models(models, X_train_num, y_train):
    trained_models = []

    for model in models:
        if model =='linear_regression':
            reg = LinearRegression()
        elif model == 'decision_tree':
            reg = DecisionTreeRegressor()
        elif model == 'random_forest':
            reg = RandomForestRegressor()
        else: 
            print ("Error: Unreecognized model")

            continue


        reg.fit(X_train_num, y_train)
        trained_models.append(reg)

    return trained_models

In [77]:
models = ['linear_regression', 'decision_tree', 'random_forest']
trained_models = train_models(models, X_train_num, y_train)

In [78]:
trained_models

[LinearRegression(), DecisionTreeRegressor(), RandomForestRegressor()]

12. Use the function to train the following models (with default settings):
*LinearRegressor

*KNeighborsRegressor

*MLPRegressor

In [79]:
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor

def train_models(models, X_train_num, y_train):
    trained_models =[]
    
    for model in models:
        m = model()
        m.fit(X_train_num, y_train)
        trained_models.append(m)
        
    return trained_models
models = [LinearRegression, KNeighborsRegressor, MLPRegressor]
trained_models = train_models(models, X_train_num, y_train)

In [80]:
trained_models

[LinearRegression(), KNeighborsRegressor(), MLPRegressor()]

15. Evaluate the models with the function created earlier in the TRAIN and TEST sets. Which model performs best with the default options?

Could you please helop me with the question, I cannot answer it. Thanks so much Lukas.